/* ==========================================================
   Settings Page
========================================================== */

.myjat-settings-logo{
display:block;
max-width:80px;
height:auto;
}

.myjat-settings-signature{
display:block;
max-width:200px;
height:auto;
}