
@media(max-width:768px){
.myjat-info-grid-2{
grid-template-columns:1fr;
}
}

@media(max-width:768px){
.myjat-view-header{
 padding:20px;
}

.myjat-view-header h1{
 font-size:26px;
}
}

@media(max-width:991px){
.myjat-main-grid{
grid-template-columns:1fr;
}

.myjat-photo-card{
 position:static;
}
}

@media(max-width:768px){
#myjat-membership-form{
grid-template-columns:1fr;
}

#myjat-membership-form{
padding:20px;
}

.myjat-membership-form h2{
font-size:24px;
}

.myjat-membership-form h3{
font-size:18px;
}
}
@media(max-width:768px){
.myjat-form-meta{
 display:block;
}

.myjat-form-meta div{
 margin:8px 0;
}
}

@media(max-width:768px){
.myjat-login-wrapper{
margin:35px 18px;
padding:28px;
border-radius:20px;
}

.myjat-login-wrapper h2{
font-size:28px;
}
}

/* ==========================================================
MEDIA
========================================================== */
